# Decrease swap usage to a more reasonable level
vm.swappiness=10
# Improve cache management
# vm.vfs_cache_pressure=50
# For visual Studio Code
fs.inotify.max_user_watches=524288

## Virtual memory
#
## There are several key parameters to tune the operation of the virtual memory (VM) subsystem of the Linux kernel and the write out of dirty data to disk. See the official Linux kernel documentation for more information. For example:
#
#vm.dirty_ratio = 3
#
## Contains, as a percentage of total available memory that contains free pages and reclaimable pages, the number of pages at which a process which is generating disk writes will itself start writing out dirty data.
#
#vm.dirty_background_ratio = 2
#
###### Networking
##
## Improving performance
## Increasing the size of the receive queue.
#
## The received frames will be stored in this queue after taking them from the ring buffer on the network card.
#
## Increasing this value for high speed cards may help prevent losing packets:
#
#net.core.netdev_max_backlog = 100000
#net.core.netdev_budget = 50000
#net.core.netdev_budget_usecs = 5000
#
## Note: In real time application like SIP routers, this option requires a high speed CPU otherwise the data in the queue will be out of date.
## Increase the maximum connections
#
##The upper limit on how many connections the kernel will accept (default 128):
#
#net.core.somaxconn = 1024
#
## Warning: Increasing this value may only increase performance on high-loaded servers and may cause as slow processing rate (e.g. a single threaded blocking server) or insufficient number of worker threads/processes [1].
## Increase the memory dedicated to the network interfaces
#
## The default the Linux network stack is not configured for high speed large file transfer across WAN links (i.e. handle more network packets) and setting the correct values may save memory resources:
#
#net.core.rmem_default = 1048576
#net.core.rmem_max = 16777216
#net.core.wmem_default = 1048576
#net.core.wmem_max = 16777216
#net.core.optmem_max = 65536
#net.ipv4.tcp_rmem = 4096 1048576 2097152
#net.ipv4.tcp_wmem = 4096 65536 16777216
#
## It is also possible increase the default 4096 UDP limits:
#
#net.ipv4.udp_rmem_min = 8192
#net.ipv4.udp_wmem_min = 8192
#
## Enable MTU probing
#net.ipv4.tcp_mtu_probing = 1
#
## Disable ipv6 
#net.ipv6.conf.all.disable_ipv6 = 1
#net.ipv6.conf.default.disable_ipv6 = 1
#net.ipv6.conf.lo.disable_ipv6 = 1
#