[Unit]
Description=Ollama Service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ollama serve
User=ollama
Group=ollama
Restart=always
RestartSec=3
Environment="PATH=/home/{{ usuario_sistema }}/.nvm/versions/node/v22.17.0/bin:/usr/local/bin:/usr/bin"

[Install]
WantedBy=default.target
